<h1>Política de privacidad</h1>
<p>
Se guarda la información en base de datos y el estudiante puede solicitar su borrado en cualquier momento enviando un correo electrónico dirigido a Klaus Vennik ( contacto@nuevopaciente.cl ). 
Se utiliza el correo electrónico para enviar datos de los pacientes al estudiante y email marketing relacionado a nuevo paciente. 
</p>
