<h1>Términos y Condiciones</h1>
<p>La aplicación web y logo de Nuevo paciente es de propiedad de  Klaus Vennik Merello. Puede contactar directamente a  info@deklaus.com o a contacto@nuevopaciente.cl 
El objetivo de Nuevo Paciente es hacer match entre estudiantes del área de la salud y pacientes en Chile. Por lo que sus publicaciones deben estar siempre relacionadas a este tema. 
Los usuarios o publicaciones ofensivas, ilegales o fuera de lugar, a criterio del desarrollador, serán eliminados de la plataforma. 
</p>
