<div class="row col-12">
 
  <%= render "form", student: @student %>
  <br>
  <% if !current_student.name.nil? %>
    <div class="col-md-7 col-xs-11 mx-auto">
      <%= link_to t(:show_this_student), @student, class:"btn btn-primary my-2 mx-2" %>
      <%= link_to t(:back), posts_path, class:"btn btn-primary my-2 mx-2" %>
    </div> 
  <% end %> 
</div>
