<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">

      <li class="nav-item"><%= link_to t(:terms), footer_terms_path, :class => 'nav-link px-2 text-muted' %></li>
      <li class="nav-item"><%= link_to t(:politics), footer_politics_path, :class => 'nav-link px-2 text-muted' %></li>      
      <li class="nav-item"><a href="mailto:contacto@nuevopaciente.cl" class="nav-link px-2 text-muted">Contacto</a></li>
    </ul>
    <p class="text-center text-muted">©️ 2022 Nuevo Paciente</p>
  </footer>
</div>
