<div class="col-md-7 col-xs-11 mx-auto">
  <div class="my-2">
    <label class="form-label"><h2><%= t(:publication) %></h2></label> 
  </div>
  <div class="my-2">
    <textarea cols="50" rows="6" minlength="5" maxlength="500" ><%= post.body %></textarea>
  </div>  
</div>
